.faq {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 2rem 0;
  padding: 2rem 0 4rem;
  color: var(--helt-blue-100);
  position: relative;
}

.faq-inner {
  flex-basis: 100%;
}

.faq::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../../assets/bgSvg/faq.svg");
  z-index: -19;
}
.faq-heading,
.faq-content {
  width: 90%;
}

.faq-heading {
  font-size: var(--fs-two);
  margin: 0 auto;
}

.faq-content {
  font-size: var(--fs-four);
  margin: 1rem auto;
}

.question-text {
  margin: 1rem 0;
}

/* .faq-content {
  padding: 5rem 0;
} */

.inner-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-answer {
  margin: 0.5rem;
}

.plus {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

@media (min-width: 90.0625rem) {
  .faq-heading {
    font-size: 3rem;
  }

  .faq-content {
    font-size: 3rem;
  }

  .faq {
    margin: 4rem 0;
    padding: 5rem 0 4rem;
  }

  .faq::before {
    background: var(--helt-blue-main);
  }
}
