.footer {
  background-color: var(--helt-blue-main);
  width: 100%;
  color: var(--helt-blue-100);
  text-align: center;
  padding: 10px 0 10px;
}

@media (min-width: 90.0625rem) {
  .footer {
    margin-top: 4rem;
    font-size: 2rem;
  }
}
