input:invalid[focused="true"] {
  border: 1px solid red;
}

label {
  display: block;
  margin: 0.3rem 0.5rem;
  font-weight: 800;
  color: var(--helt-blue-main);
}

input,
textarea {
  width: 100%;
  margin-bottom: 0.5rem;
  border: 1px solid var(--helt-blue-main);
  padding: 10px;
  border-radius: 25px;
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--helt-blue-main);
}

small {
  display: none;
}
